#!/bin/bash
# Sbatch script running EpiHiper on Rivanna
# Calibration mode

#SBATCH --job-name {{ job_name }}
#SBATCH --time {{ max_runtime }}
#SBATCH {{ sbatch_job_args }}
#SBATCH {{ sbatch_pipeline_args }}
#SBATCH --output "{{ output_dir }}/slurm-%j.out"

{{ env_file_contents }}

COMMON_DIR="{{ common_dir }}"
OUTPUT_DIR="{{ output_dir }}"

# We will execute from $OUTPUT_DIR
cd "$OUTPUT_DIR"

# Load the required modules
. /etc/profile
module load intel/18.0 intelmpi/18.0

set -Eeuo pipefail
set -x

# nodejs path fix
set +x
OLDPATH="$PATH"
export PATH="$NODE_CONDA_ENV/bin:$PATH"
set -x

# Check for addNoise.sh
if [[ -e "addNoise.sh" ]] ; then
    chmod +x addNoise.sh
    ./addNoise.sh
fi

# nodejs path fix back
set +x
export PATH="$OLDPATH"
set -x

# Run EpiHiper
srun --mpi=pmi2 --ntasks "$SLURM_NTASKS" "$EPIHIPER_BIN_DIR/EpiHiper" --config "runParameters.json"

# Compress the output files
gzip -9 -f "output.csv"
gzip -9 -f "outputSummary.csv"

echo "Projection run completed successfully"
exit 0
